[submodule "core/Clash.Meta"]
	path = core/Clash.Meta
	url = git@github.com:chen08209/Clash.Meta.git
	branch = FlClash
[submodule "lib/sdk/board_sdk"]
	path = lib/sdk/board_sdk
	url = git@github.com:go2world-icu/board_sdk.git
	branch = main
